<!--Card-->
<!-- Note this card needs to be within a row container-->
 <div class="col-sm-6 col-lg-4">

   <div class="card">

     <!--Card image: chosen depending on the variables in the module-->
     <div class="view overlay hm-white-slight">
       <a href="{{site.url}}{{site.baseurl}}{{file.url}}">
{% if file.featured %}
<img src="{{ file.featured | absolute_url }}" class="img-fluid"
alt="img{{file.title}}-img"></a>
{% else %}
       <a href="{{site.url}}{{site.baseurl}}{{file.url}}">
       <img src="{{ site.card_image | absolute_url }}" class="img-fluid"
       alt="img{{file.title}}-img">
{% endif %}
  </a>

     </div>

     <!--Card content-->
     <div class="card-block">
       <!--Title-->
       <a href="{{site.url}}{{site.baseurl}}{{file.url}}">
         <h4> {{file.title}} </h4>
       </a>
       <!--Text-->
       <p > {{file.description}}</p>

     </div>

   </div>

</div>

   <!--/.Card-->
