<!--Card-->
<!-- Note this card needs to be within a row container-->
 <div class="col-sm-6">

   <div class="card">

     <!--Card image-->
     <div class="view overlay hm-white-slight">
       <a href="{{site.url}}{{site.baseurl}}{{file.url}}">
       <img src="./images/dna.jpg" class="img-fluid" alt=""></a>

     </div>

     <!--Card content-->
     <div class="card-block">
       <!--Title-->
       <a href="{{site.url}}{{site.baseurl}}{{file.url}}"><h4>{{file.title}}</h4></a>
       <!--Text-->
       <p > Labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
       <br>
     </div>

   </div>

</div>

   <!--/.Card-->
