<!-- Cards: this will auto-generate one per collection-->

<div class= container>
  <div class="row">

   <!--Card-->
    <div class="col-sm-6">

      <div class="card">

        <!--Card image-->
        <div class="view overlay hm-white-slight">
          <a href="{{site.url}}{{site.baseurl}}/about">
          <img src="{{"./images/dna.jpg"}}" class="img-fluid" alt="introimg"></a>

        </div>

        <!--Card content-->
        <div class="card-block">
          <!--Title-->
          <a href="{{site.url}}{{site.baseurl}}/about"><h4>Getting started</h4></a>
          <!--Text-->
          <p > This section contains vital information about the course
          content and the requirements.</p>
          <br>
        </div>

      </div>
      <!--/.Card-->

    </div>

{% for module in site.collections %}
{% for file in module.docs %}
{% if file.layout == 'module' %}
{% include card.html %}
{% endif %}
{% endfor %}
{% endfor %}

    </div>

  </div>
</div>
<br>
<br>
