<!-- Cards: this will auto-generate one per collection-->

<div class= container>
  <div class="row">

   <!--Card-->
    <div class="col-sm-6">

      <div class="card">

        <!--Card image-->
        <!--Card image-->
        <div class="view overlay hm-white-slight">
          <a href="{{ "/about" | absolute_url }}" >
            {% if file.featured %}
            <img src="{{ file.featured | absolute_url }}" class="img-fluid"
            alt="img{{file.title}}-img"></a>
            {% else %}
                   <a href="{{site.url}}{{site.baseurl}}{{file.url}}">
                   <img src="{{ site.card_image | absolute_url }}" class="img-fluid"
                   alt="img{{file.title}}-img">
            {% endif %}
              </a>
        </div>

        <!--Card content-->
        <div class="card-block">
          <!--Title-->
          <a href="{{ "/about" | absolute_url }}" >
            <h4> Getting started </h4>
          </a>

          <!--Text-->
          <p> Description of the getting started sectiong goes here!
          Edit on modules.html</p>
          </div>

      </div>
      <!--/.Card-->

    </div>

{% for module in site.collections %}
{% for file in module.docs %}
{% if file.layout == 'module' %}
{% include card.html %}
{% endif %}
{% endfor %}
{% endfor %}

    </div>

  </div>
</div>
<br>
<br>
