<!-- Cards: you need to include one per module or collection-->

<div class= container>
  <div class="row">

   <!--Card-->
    <div class="col-sm-6">

      <div class="card">

        <!--Card image-->
        <div class="view overlay hm-white-slight">
          <a href="{{site.url}}{{site.baseurl}}/about">
          <img src="./images/dna.jpg" class="img-fluid" alt=""></a>

        </div>

        <!--Card content-->
        <div class="card-block">
          <!--Title-->
          <a href="{{site.url}}{{site.baseurl}}/about"><h4>Getting started</h4></a>
          <!--Text-->
          <p > This section contains vital information about the course
          content and the requirements.</p>
          <br>
        </div>

      </div>
      <!--/.Card-->

    </div>
    <div class="col-sm-6">

      <!--Card-->
      <div class="card">

        <!--Card image-->
        <div class="view overlay hm-white-slight">
          <a href="{{site.url}}{{site.baseurl}}/1-outline">
          <img src="./images/dna.jpg" class="img-fluid" alt=""></a>

        </div>

        <!--Card content-->
        <div class="card-block">
          <!--Title-->
          <a href="{{site.url}}{{site.baseurl}}/1-outline"><h4>Day 1</h4></a>
          <!--Text-->
          <p >Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <br>
        </div>

      </div>
      <!--/.Card-->

    </div>


    <div class="col-sm-6">

      <div class="card">

        <!--Card image-->
        <div class="view overlay hm-white-slight">
          <a href="{{site.url}}{{site.baseurl}}/about">
          <img src="./images/dna.jpg" class="img-fluid" alt=""></a>

        </div>

        <!--Card content-->
        <div class="card-block">
          <!--Title-->
          <a href="{{site.url}}{{site.baseurl}}/about"><h4> Title </h4></a>
          <!--Text-->
          <p > Labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
          <br>
        </div>

      </div>

   </div>


    </div>

  </div>
</div>
<br>
<br>
