<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <p>{{ site.description }}</p>

    <p> Developed by Luisa Cutillo and the <a href='http://rse.shef.ac.uk'> RSE team
    </a> at the University of Sheffield</p>
  </div>

  <nav class="sidebar-nav">
    <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}/">Home</a>

    {% comment %}
      The code below dynamically generates a sidebar nav of pages with
      `layout: page` in the front-matter. 
    {% endcomment %}

    {% assign pages_list = site.pages | sort:"url" %}
    {% for node in pages_list %}
      {% if node.title != null %}
        {% if node.layout == "page" %}
        <!-- Note you need to prepend the site.baseurl always-->
          <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}"
          href="{{site.baseurl}}{{ node.url }}">{{ node.title }}</a>
        {% endif %}
      {% endif %}
    {% endfor %}


    <a class="sidebar-nav-item" href="https://github.com/trallard/BAD_days">GitHub repository</a>
  </nav>

  <div class="sidebar-item">
    <p>
      The University of Sheffield &copy; {{ site.time | date: '%Y' }}. CC-BY
    </p>
  </div>
</div>
