<!DOCTYPE html>
<html>
<!--custom header -->
{% include head.html %}

<body>
  <!-- sidebar-->
  {%include sidebar.html%}

  <!--main content needs to be in a wrap for
  when the sidebar is displayed-->
  <div class='wrap'>

    <!-- navbar -->
    {% include nav.html %}
  </div>

  <!-- Large colour display for the site description-->
  <div class='wrap'>
    <div class="edge-header primary-lighten">
      <div class='container'>
        <div class='row'>
          <div class='col-sm-9'>
            <h1 class='display-1'> {{site.title}}</h1>
            <p> {{site.description}}</p>
          </div>

          <!-- Site logo -->
          <div class='col-sm-3 col-xs-3 col-lg-3'>
           <img class='img-logo' src="{{ site.logo | prepend:absolute_url }}"  alt="main-logo"/></a>
         </div>
      </div>
    </div>
  </div>
    <div class="container">
      <div class="row">

        <!--- Main content--->
        <div class="col-sm-8">
          <main>
            <br>

            {{content}}
          </main>
        </div>

        <div class="col-sm-1">
        </div>

      </div>
    </div>

    {%include modules.html %}
  </div>

  <label for="sidebar-checkbox" class="sidebar-toggle"></label>


</body>


</html>
