/* Style for the notebooks when rendered*/

.nb_top{
  padding: 10px;
  font-size: 1em;
  font-weight: normal;
  background-color: transparent;
}

.nb_top author{
  font-style: italic;
  font-size: 1em;
  padding-bottom: 10px;
  color: $gray-dark;
}

.toc_well{
  background: transparent;
  transition: transform .3s ease-out;
  box-shadow: 2px 4px 6px 0 rgba(0, 0, 0, .1);
  border-radius: .25em;
  border: 1px solid $gray-lighter;
  position: relative;
  top: 10%; /* Note that this will feep the TOC in place*/
  right: 1%;
  }


.badge{
  box-shadow: none;
  position:relative;
  background-color: transparent;
  padding-top: 10px;
  margin: 0;
}

.badge_img{
  width: 120px;
  float:left;
}
